*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab", serif;
    overflow-x: hidden;
}
h1{
    font-family: “Alegreya”, serif;
}
h3{
    font-family: “Alegreya”, serif;
}



.doctor:hover .icons{
    display: flex; 
    animation: move .6s ;
}
.doctor img{
    height: 100%;
    width: 100%;
    top: 48px;
}
.doctor:hover img{
    transform: scale(1.1) translateY(-12px);
    transition: .5s;
}
.doctor{
    overflow-y: hidden;
    width: 100%;
    height: 350px;
}
.doctor:hover .icons{
    color: white;
}
@keyframes move {
    from{
        transform: translateY(50px);
        opacity: 0;
        animation-timing-function: ease-in-out;
    }
    to{
        transform: translateY(0px); 
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
    
}
.icon{
    background-color: rgba(0, 0, 0, 0.699);
}
#booking{
    background-color: rgba(58, 57, 57, 0.692);
}
.form{
    background-color: rgba(0, 0, 0, 0.452);
}
.appointment{
    background-image: url('https://www.sphp.com/sites/default/files/hg_features/mercury_image/7f63af84fc402de52270e1987aa1ac94.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}